<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to "Forecasting", root_path, class: "navbar-brand" %>
    <form class="d-flex">
      <%= link_to "Nuevo vendedor", new_seller_path, class: "btn btn-outline-light" %>
    </form>
  </div>
</nav>
